nav.navbar{
    background-color: rgba(0,0,0,0.7);
}
#hero p{
    font-size: 18px;
}
.hero-caption{
    background-color: rgba(0,0,0,0.3);
    padding: 36px;
}
.bigger {
    font-size: 120%;
}
input.form-control, textarea.form-control{
    border-color: #ccc;
}

div.contact-form{
    background-color: #f7f7f7; 
    box-shadow: 3px 3px 3px rgba(0,0,0,0.3);
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
}
/*small alerts*/
.small-alert {
    position: relative;
    display: block;
}
.small-alert .alert {
    position: absolute;
    font-size: 85%;
    margin: 0px;
    padding: 4px;
    left: 12px;
    z-index: 100;
    top: -4px;    
}
.small-alert .close{
    margin-left: 8px;
    margin-top: -4px;
}
.small-alert .alert:before {
    content: ' ';
    position: absolute;
    display: block;
    width: 8px;
    height: 8px;
    top: -8px;
    border-bottom: 8px solid #f2dede;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
}
.alert-group.small-alert .alert{
    position: static;
}
#_full_name{
    display: none;
}
.header-spacer{
    height: 98px;
}
@media(max-width:992px) {
    .header-spacer{
        height: 90px;
    }    
}
@media(max-width:340px) {
    .header-spacer{
        height: 122px;
    }    
}

label.profile-img{
    display: block;
    width: 180px;
    height: 180px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    cursor: pointer;
}
label.profile-img:hover{
    border-radius: 15%;
}
.tab-content .tab-pane .card{
    margin-top: -30px;    
}

.tools li.active {
    position: relative;
    color: #67b365;
}
.tools li.active a{
    color: #67b365 !important;
}
.tools li.active::before{
    content: "\f101";
    font-family: fontawesome;
    position: absolute;
    left: -16px;
    color: #67b365;
}

label.allergy{
    display: inline-block;
    margin: 4px;
    width: 64px;
    height: 64px;
    overflow: hidden;
    background-image: url("/img/sprites/allergy_grey.png");
    background-repeat: no-repeat;
    position: relative;
}
input.allergy[type="checkbox"]:checked+label.allergy:before{
    content: "\f00d";
    font-family: fontawesome;
    position: absolute;
    color: #ff9b00;
    font-size: 22px;
    bottom: 0px;
    right: 0px;
    background-color: white;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    border: 1px solid;
    text-align: center;
    line-height: 20px;
}
div.allergy-small label.allergy{
    zoom: 50%;
}
input[type="checkbox"].allergy{
    display: none;
}
input.allergy[type="checkbox"]:checked+label.allergy, label.allergy.active{
    background-image: url("/img/sprites/allergy_theme.png");
}
input[type="checkbox"].allergy+label.allergy:hover{
    background-image: url("/img/sprites/allergy_black.png");
}
label.allergy.allergy-0{
    background-position-x: 0px;
}
label.allergy.allergy-1{
    background-position-x: -64px;
}
label.allergy.allergy-2{
    background-position-x: -128px;
}
label.allergy.allergy-3{
    background-position-x: -192px;
}
label.allergy.allergy-4{
    background-position-x: -256px;
}
label.allergy.allergy-5{
    background-position-x: -320px;
}
label.allergy.allergy-6{
    background-position-x: -384px;
}
label.allergy.allergy-7{
    background-position-x: -448px;
}
label.allergy.allergy-8{
    background-position-x: -512px;
}
label.allergy.allergy-9{
    background-position-x: -576px;
}
label.allergy.allergy-10{
    background-position-x: -640px;
}
label.allergy.allergy-11{
    background-position-x: -704px;
}
label.allergy.allergy-12{
    background-position-x: -768px;
}
label.allergy.allergy-13{
    background-position-x: -832px;
}
.error-wrapper{
    position: absolute;
    z-index: 100;
    width: 100%;
    margin-top: 24px;
}
.error-wrapper .alert{
    margin-bottom: 0px;
}
#application_form{
    padding: 24px;
    background-color: #eee;
}
#application_form .form-control{
    color: inherit;
}
.location-block {
    display: block;
    border : 1px solid #eee;
    padding: 16px;
    margin : 8px;
}
.location-block:hover{
    border-color: #67b365;
}
.location-block img{
    width: 100px;
    height: 100px;
    float: left;
    margin-right: 32px;
}
.location-block img[src=""]{
    display: none;
}
select.form-control{
    color: inherit;
    border-color: #ccc;
}
.input-group input.form-control{
    min-height: 34px;
}
div.countdown{
    text-align: center;
}
.align-center {
    text-align: center;
}
.align-left{
    text-align: left;
}
.align-right{
    text-align: right;
}
.btn-list{
    display: block;
    margin-bottom: 0px;
}
.btn-list i.fa{
    float: left;
    margin-top: 3px;
}
table.table hr{
    margin-top: 4px;
    margin-bottom: 4px;
    border-color: #aaa;
}
.img-centered{
    margin: auto;
}
.theme-color-inverse-block{
    background-color: #67b365;
    color: white;
    margin: -8px;
    margin-bottom: 8px;
    padding: 8px;
}
.theme-block {
    border : 1px solid #67b365;
    padding: 8px;
    display: block;
}
.modal-footer .btn+.btn{
    margin-bottom: 10px;
}
#map_wrapper{
    min-height: 500px;
}
.map_infowindow{
    text-align: center;
}
.map_infowindow strong{
    padding: 8px 16px;
    margin-bottom: 8px;
    display: block;
    font-size: 1.4em;
    border-bottom: 1px solid black;
}
.map_infowindow .btn{
    display: block;
}
.map_infowindow span.remain{
    display: block;
}
.map_infowindow span.remain>span{
    color:blue;
    font-weight:bold;
    margin-right: 4px;
}
.header.header-sticky.sticky .navbar-collapse ul.navbar-nav > li > a{
    color: white;
}
.header.sticky .navbar-toggle span.top-bar, 
.header.sticky .navbar-toggle span.middle-bar, 
.header.sticky .navbar-toggle span.bottom-bar{
    background-color: white;
}
.header.header-transparent .nav-tools .nav-item .login-btn{
    margin-top: 18px;
}

.city_list{
    padding: 4px;
    margin-top: 24px;
}
.city_list .country{
    border : 1px solid #ccc;
    padding: 4px;
}
.city_list .country h4{
    margin-top: -18px;
    text-align: center;
    border-radius: 10px;
    padding: 4px;
    background-color: white;
    border: 1px solid #ccc;
}
.city_list span.city{
    margin: 4px;
    padding: 2px 8px;
    background-color: #ccc;
    color: white;
    cursor: pointer;
    margin-bottom: 24px;
}
.city_list span.city:hover{
    background-color: #67b365;
}

.form-group.input-group .input-group-btn button{
    margin-bottom: 0px;
    padding: 9px 16px;
    margin-right: -1px;
}

#donation_details_section .tab-pane {
    padding: 0px;
    border-top: none;
}

#donation_details_section .tab-pane>.panel{
    border-top: none;
    border-color: #ddd;
}
#donation_details_section .panel-heading{
    padding: 0px 8px;
}
#donation_details_section .tab-pane .panel-heading button{
    margin-top: 8px;
}
.block {
    display: block;
    width: 100%;
}
.highlight{
    background-color: lightgrey;
    padding: 0px 4px;
}

.pagesection {
    background-position: center center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    opacity: 1;
    position: relative;
    display: flex;
    justify-content: center;
}
#welcome {
    background-image: url(/img/landing/welcome.jpg);
    background-size: cover;
}
#specialities {
    background-image: url(img/landing/specialities.jpg);
    background-size: cover;
}
.pagesection .caption {
    align-self: center;
}
.pagesection .caption h2 {
    font-family: "Alex Brush";
    line-height: 72px;
    font-weight: 400;
    font-style: normal;
    font-size: 60px;
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.24s ease-in-out;
    -moz-transition: opacity 0.24s ease-in-out;
    transition: opacity 0.24s ease-in-out;
    margin: 0;
    text-align: center;
    color: #f9b114;
}
#welcome .caption h2 {
    color: black;
}
.welcome-separator {
    width: 40%;
    margin: 35px auto;
}
.sep-line {
    width: 100%;
    height: 1px;
    display: block;
    position: relative;
    top: 1px;
    border-top: 2px solid #2A2A2A;
}
.normal-btn {
    background: transparent;
    border-radius: 0;
    border: 2px solid rgb(102, 102, 102);
    color: rgb(102, 102, 102);
    padding: 13px 19px;
    font-size: 14px;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    line-height: normal;
}
.normal-btn:hover {
    border-color: #f9b114;
    background-color: #f9b114;
    color: #ffffff;
}
.welcome-btn {
    border: 2px solid rgb(249, 177, 20);
    color: rgb(249, 177, 20);
}
.welcome-btn:hover {
    border-color: #f9b114;
    background-color: #f9b114;
    color: #ffffff;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    border: 0;
    font-family: inherit;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
}

.single-image {
    -webkit-animation: wpb_ltr .7s 1 cubic-bezier(.175,.885,.32,1.275);
    -o-animation: wpb_ltr .7s 1 cubic-bezier(.175,.885,.32,1.275);
    animation: wpb_ltr .7s 1 cubic-bezier(.175,.885,.32,1.275);
    opacity: 1;
    filter: alpha(opacity=100);
    text-align: right;
    margin-bottom: 35px;
    max-width: 100%;
    padding-right: 40px !important;
}
.single-image-img {
    height: auto;
    max-width: 100%;
    vertical-align: top;
}

.full-height {
    min-height: 100vh;
}
.vc-row {
    box-sizing: border-box;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.vc-row-o-columns-middle {
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
}
.vc-row-o-columns-middle::after {
    content: '';
    width: 100%;
    height: 0;
    overflow: hidden;
    visibility: hidden;
    display: block;
}
.vc-col-sm-6 {
    width: 50%;
}
.vc-column-container {
    display: flex;
    padding-left: 0;
    padding-right: 0;
}
.vc-column-inner {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;

    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
}
.vc_align_right {
    text-align: right;
}
.wpb_start_animation .wpb_left-to-right {
    -webkit-animation: wpb_ltr .7s 1 cubic-bezier(.175,.885,.32,1.275);
    -o-animation: wpb_ltr .7s 1 cubic-bezier(.175,.885,.32,1.275);
    animation: wpb_ltr .7s 1 cubic-bezier(.175,.885,.32,1.275);
    opacity: 1;
    filter: alpha(opacity=100);
}
.wpb_content_element {
    margin-bottom: 35px;
}
.wpb_single_image, .vc_figure {
    max-width: 100%;
}
.vc_figure {
    display: inline-block;
    vertical-align: top;
    margin: 0;
    max-width: 100%;
}
#about::before {
    content: " ";
    display: table;
}
#about::after {
    clear: both;
}

#about h2 {
    color: #f9b114;
}
#about h2, #about h2 {
    font-family: "Alex Brush";
    line-height: 72px;
    font-weight: 400;
    font-style: normal;
    font-size: 60px;
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.24s ease-in-out;
    -moz-transition: opacity 0.24s ease-in-out;
    transition: opacity 0.24s ease-in-out;
}

#about h4 {
    margin-bottom: 0;
    color: #222222;
}
#about h4 {
    font-family: Arapey;
    line-height: 36px;
    font-weight: 400;
    font-style: normal;
    font-size: 28px;
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.24s ease-in-out;
    -moz-transition: opacity 0.24s ease-in-out;
    transition: opacity 0.24s ease-in-out;
}
.vc_separator {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.vc_sep_width_20 {
    width: 20%;
}
.vc-sep-line {
    border-color: #EBEBEB;
}
div#how_many {
	background-image: url(img/landing/menu.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
div#how_many h2 {
    color: #f9b114;
	text-align: center;
	font-family: "Alex Brush";
    line-height: 72px;
    font-weight: 400;
    font-style: normal;
    font-size: 60px;
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.24s ease-in-out;
    -moz-transition: opacity 0.24s ease-in-out;
    transition: opacity 0.24s ease-in-out;
}
div#how_many .container {
    background: white;
	padding: 80px 50px 10px 50px;
}
div#how_many h5 {
    font-family: Montserrat;
    line-height: 24px;
    font-weight: 400;
    font-style: normal;
    font-size: 21px;
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.24s ease-in-out;
    -moz-transition: opacity 0.24s ease-in-out;
    transition: opacity 0.24s ease-in-out;
}
div#how_many p {
    font-family: Montserrat;	
	font-size: 14px;
	line-height: 28px;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    opacity: 1;
    visibility: visible;
	margin-bottom: 20px;
}
div#how_many a {
	color: #f9b114;
}
div#how_many .content-block-2 {
    padding: 150px 100px 100px 100px;
}
.vc_sep_width_20 {
    width: 20%;
}
.vc_separator {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
div#how_many .wpb_content_element {
    margin-bottom: 35px;
	margin: 30px auto;
}
.vc_separator.vc_separator_no_text:not(.vc_sep_shadow) .vc_sep_holder_l {
    width: 100%;
}
.vc_separator .vc_sep_holder {
    height: 1px;
    position: relative;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    min-width: 10%;
}
.vc_separator.vc_sep_color_black .vc_sep_line {
    border-color: #2A2A2A;
}
.vc_separator .vc_sep_holder .vc_sep_line {
    height: 1px;
    border-top: 1px solid #2A2A2A;
    display: block;
    position: relative;
    top: 1px;
    width: 100%;
}
.vc_separator.vc_sep_dashed .vc_sep_line {
    border-top-style: dashed;
}
.vc_custom_1442494853888 {
    padding-top: 20px !important;
    padding-right: 40px !important;
    padding-bottom: 20px !important;
    padding-left: 40px !important;
    background-color: #ffffff !important;
}
div#how_many .wpb_wrapper {
	padding-top: 35px;
	padding-left: 15px;
    padding-right: 15px;
}
div#contact_us {
	background-image: url(img/landing/menu.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
div#contact_us h2 {
    color: #f9b114;
	font-family: "Alex Brush";
    line-height: 72px;
    font-weight: 400;
    font-style: normal;
    font-size: 60px;
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.24s ease-in-out;
    -moz-transition: opacity 0.24s ease-in-out;
    transition: opacity 0.24s ease-in-out;
}
div#contact_us .container {
    background: white;
}
div#contact_us h5 {
    font-family: Montserrat;
    line-height: 24px;
    font-weight: 400;
    font-style: normal;
    font-size: 21px;
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.24s ease-in-out;
    -moz-transition: opacity 0.24s ease-in-out;
    transition: opacity 0.24s ease-in-out;
}
div#contact_us p {
    font-family: Montserrat;	
	font-size: 14px;
	line-height: 28px;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    opacity: 1;
    visibility: visible;
	margin-bottom: 20px;
}
div#contact_us .wpb_wrapper {
	font-family: Montserrat;	
	font-size: 14px;
	line-height: 28px;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    opacity: 1;
    visibility: visible;
	margin-bottom: 20px;
	color: #aaaaaa;
}
div#contact_us .wpb_content_element{
    margin-bottom: 35px;
    margin: 0px 10px 40px 10px;	
}
div#contact_us a{
	color: #f9b114;
}
div#contact_us .wpb_start_animation.wpb_left-to-right {
    -webkit-animation: wpb_ltr .7s 1 cubic-bezier(.175,.885,.32,1.275);
    -o-animation: wpb_ltr .7s 1 cubic-bezier(.175,.885,.32,1.275);
    animation: wpb_ltr .7s 1 cubic-bezier(.175,.885,.32,1.275);
    opacity: 1;
    filter: alpha(opacity=100);
}
div#contact_us .vc_btn3-container.vc_btn3-left {
    text-align: left;
}
div#contact_us .vc_btn3-container {
    display: block;
    margin-bottom: 21.74px;
    max-width: 100%;
}
div#contact_us .vc_custom_1501866890511 {
    padding-top: 80px !important;
}
div#contact_us .vc_btn3.vc_btn3-size-md.vc_btn3-style-outline, .vc_btn3.vc_btn3-size-md.vc_btn3-style-outline-custom {
    padding: 13px 19px;
}
div#contact_us .vc_btn3.vc_btn3-size-md {
    font-size: 14px;
    padding: 14px 20px;
	border-width: 2px;
	display: inline-block;
    margin-bottom: 0;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    background-color: transparent;
    color: #5472D2;
    border: 1px solid transparent;
    box-sizing: border-box;
    word-wrap: break-word;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: relative;
    top: 0;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    line-height: normal;
    font-size: 14px;
    padding: 14px 20px;
}
div#contact_us .vc_custom_1442498161289 {
    padding-top: 0px !important;
    padding-right: 0px !important;
    padding-bottom: 0px !important;
    padding-left: 0px !important;
}
div#contact_us .vc_column_container {
    padding-left: 0;
    padding-right: 0;
}
div#contact_us .contact_details {
	padding: 60px 50px 10px 40px;
}
div#contact_us .content-block-21 {
/*	padding-top: 400px !important;
    padding-bottom: 400px !important;
*/}
.demoheader {background: #f2f2f2; width: 100%; padding: 40px; text-align: center; }	
.testimonials {
	background: url(img/landing/testimonials.jpg);
	min-height: 100vh;
	padding-top: 100px !important;
    padding-bottom: 100px !important;
    position:relative;
    background-position: center;

}
.active {
    display: block;
}
.hide {
    display: none;
}

.sectionheading {
    color: #f9b114;
    font-family: "Alex Brush";
    line-height: 72px;
    font-weight: 400;
    font-style: normal;
    font-size: 60px;
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.24s ease-in-out;
    -moz-transition: opacity 0.24s ease-in-out;
    transition: opacity 0.24s ease-in-out;
    margin-bottom: 40px;
}
.tab_inr_content_wrapper h4 {
    font-family: Arapey;
    line-height: 36px;
    font-weight: 400;
    font-style: normal;
    font-size: 28px;
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.24s ease-in-out;
    -moz-transition: opacity 0.24s ease-in-out;
    transition: opacity 0.24s ease-in-out;
    margin-bottom: 35px;
}
span.eps_sep { height: 1px;  border-top: 1px solid #000;  display: block;  position: relative;   top: 1px;  width: 230px; margin: 0 auto; }
.testimonials ul  {
	position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    margin-top: 30px;
    margin-bottom: 30px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    display: block;
    margin: 0;
    padding: 0;
    text-align: center;
}
.tabsall {
    position: relative;
    padding-bottom: 1px;
}
.testimonials ul li {
    display: inline-block;
    margin: 0;
    padding: 0;
    vertical-align: middle;
}
.testimonials ul li a {
	display: block;
    text-decoration: none;
    cursor: pointer;
    height: 10px;
    width: 10px;
    margin: 5px 7px;
    background: 0 0;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    border: none;
    background-color: #2A2A2A; 
    opacity: 0.6;
 }
.activelink {
    background-color: #2A2A2A;
    opacity: 1!important;
}
.readmore {
    display: block;
    margin-bottom: 21.74px;
    max-width: 100%;
    text-align: center;
    margin-top: 45px;
}

.readmore a {
	border-color: rgb(102, 102, 102);
    color: rgb(102, 102, 102);
    background-color: transparent;
    padding: 13px 19px;
    font-size: 14px;
    border-width: 2px;
    display: inline-block;
    margin-bottom: 0;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    box-sizing: border-box;
    word-wrap: break-word;
    border: 2px solid ;
    
}
.readmore a:hover { background: rgb(102, 102, 102);  color: #fff;   text-decoration: none; }
.sectionheading_separator_color_black { margin-bottom: 40px; }

/**** second section ****/
.herohighlights {
	background: url(img/landing/specialities.jpg);
	min-height: 100vh;
	padding-top: 100px !important;
    padding-bottom: 100px !important;
    position:relative;
    background-position: center;

}
img.emoji {  width: 24px;}
.herohighlights ul  {
	position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    margin-top: 30px;
    margin-bottom: 30px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    display: block;
    margin: 0;
    padding: 0;
    text-align: center;
}
.herohighlights ul li  {display: inline-block;   margin: 0;    padding: 0;    vertical-align: middle; }
.herohighlights ul li a {
	display: block;
    text-decoration: none;
    cursor: pointer;
    height: 10px;
    width: 10px;
    margin: 5px 7px;
    background: 0 0;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    border: none;     background-color: #2A2A2A; 
    opacity: 0.6;
 }
 .activelink2 {    background-color: #2A2A2A; opacity: 1!important; } 
 .active2 {     display: block;  }
 .hide2 {        display: none;    } 
 .eps_col-md-3 { padding-right: 30px; padding-bottom: 30px; width: 25%; float: left; max-width: 100%; }  
 .eps_raw:after { content: ''; display: block; clear: both; } 
 .eps-zone-img { max-width: 100%; width: 100%; display: block; }
 h4.eps_post_title {
    font-family: Arapey;
    line-height: 36px;
    font-weight: 400;
    font-style: normal;
    font-size: 28px;
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.24s ease-in-out;
    -moz-transition: opacity 0.24s ease-in-out;
    transition: opacity 0.24s ease-in-out;
    color: #222;    
     margin-bottom: 15px;
}
.eps_content_post {
    margin-bottom: 20px;
    color: #aaaaaa;
}
/***blog ***/
.blogposts {	
	min-height: 100vh;
    padding-top: 150px !important;
    padding-bottom: 150px !important;
    position:relative;
    background-position: center;

}
.sectionheading2 {  color: #f9b114;
        font-family: "Alex Brush";
    line-height: 72px;
    font-weight: 400;
    font-style: normal;
    font-size: 60px;
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.24s ease-in-out;
    -moz-transition: opacity 0.24s ease-in-out;
    transition: opacity 0.24s ease-in-out;
    margin-bottom: 10px;
}
h4.subheading {
    margin-bottom: 20px;
    font-family: Arapey;
    line-height: 36px;
    font-weight: 400;
    font-style: normal;
    font-size: 28px;
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.24s ease-in-out;
    -moz-transition: opacity 0.24s ease-in-out;
    transition: opacity 0.24s ease-in-out;
}
.eps_col-md-3 img {
    max-width: 100%;
}
.sectionheading h2 {
    color: #f9b114;
}
.sectionheading2 h2 {
    color: #f9b114;
}
@media only screen and (max-width: 600px) {
div#how_many .content-block-2 {
    padding: 15px 10px 10px 10px;
}
.vc-col-sm-6 {
    width: 100%;
}
.wpb_map_wraper{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.wpb_map_wraper iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}
}
@media only screen and (max-width: 900px) {.eps_col-md-3 {  padding-right: 20px;    width: 50%; }}
@media only screen and (max-width: 500px) {.eps_col-md-3 {  padding-right: 0;    width: 100%; }}
section#about .left_part {
    font-family: Montserrat;
    line-height: 28px;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    opacity: 1;
    visibility: visible;
    margin-bottom: 20px;
}
section#about .heading {
	color: #f9b114;
}
section#about a {
	color: #f9b114;
	font-family: Montserrat;
    line-height: 28px;
    font-weight: 500;
    font-style: normal;
    font-size: 14px;
    opacity: 1;
    visibility: visible;
}
section.section-text p {
    font-family: Montserrat;
    line-height: 28px;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    opacity: 1;
    visibility: visible;
    margin-bottom: 20px;
    text-align: center;
}
.section-text {
    padding: 60px 0px 0px 0px;
}
.text-center {
	text-align: center;	
}	
.partner-font {
	font-family: Montserrat;
    line-height: 28px;
    font-weight: 500;
    font-style: normal;
    font-size: 14px;
    opacity: 1;
    visibility: visible;
	margin-top: 35px;
	margin-bottom: 35px;
}	
h3.text-center {
    font-family: Arapey;
    line-height: 48px;
    font-weight: normal;
    font-style: normal;
    font-size: 40px;
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.24s ease-in-out;
    -moz-transition: opacity 0.24s ease-in-out;
    transition: opacity 0.24s ease-in-out;
	margin-top: 50px;
    margin-bottom: 50px;
}
.partners_image {
	max-width: 100%;
}
@media only screen and (max-width: 500px) {
.partners_image {
	display: block;
    margin-left: auto;
    margin-right: auto;
	}
#about h2, #about h2 {
	margin-top: 50px;
}	
.partner-font {
	margin-top: 0px;
}
}
.resp-container {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
}
.resp-iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}
a.header_button {
    text-align: center;
}
span.header_button_text {
    font-size: 7px;
}
.header ul.navbar-nav > li >a.header_button {
    line-height: 13px;
	border: 1px solid;
    padding: 10px;
    margin-top: 24px;
}
.header.header-sticky.sticky ul.navbar-nav > li > a.header_button {
    line-height: 13px;
	border: 1px solid;
    padding: 10px;
    margin-top: 19px;
    font-size: 13px;
}
.img-circular{
 width: 20px;
 height: 20px;
 background-image: url('http://welfed.com/img/fav.png');
 background-size: cover;
 display: block;
}
body .header .nav-tools .logout-btn {
	padding: 0px;
    margin: 34px 0px 0px 0px !important;
    border: 0px;
}
.header.header-sticky.sticky .nav-tools .nav-item .logout-btn {
	margin-top: 25px !important;
}